<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column vh-100">
{% include 'todo_list/parts/header.html' %}
<section class="container-xxl mt-4">
    {% block content %} {% endblock %}
</section>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container-xxl">
        <span class="text-muted">Copyright {% now "Y" %}</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>